<!-- <div class="grid-x grid-padding-x">
  <div class="medium-12 cell">
    <div class="language-box">
      <a id="languageSelector" class="language" href="https://toshiba-tv.com/uk-uk/locations">
        <span class="lang-lg" lang="uk"></span> 
        <span class="country">United Kingdom (English)</span>
      </a>
      <a [routerLink]="['/']">Sitemap</a>
      <a [routerLink]="['/contact']">Contact Us</a>
      <a [routerLink]="['/']">Newsletter</a>
    </div>
  </div>
</div> -->

<div class="grid-x">
  <div class="medium-12 cell">
    <ul class="menu language-box align-right">
      <!-- <li>
        <a id="languageSelector" class="language" [routerLink]="['/', country, languageCode, 'languages']" *ngIf="countryName">
          <span class="lang-lg" lang="{{ countryCode }}"></span> 
          <span class="country">{{ countryName }} ({{ languageName }})</span>
        </a>
      </li> -->
      <li>
        <a id="languageSelector" class="language" [routerLink]="['/', country, languageCode, 'languages']" *ngIf="countryName"
          title="{{ 'SELECTYOUR' | translate }}">
          <span class="country">{{ countryName }} ({{ languageName }})</span>
        </a>
      </li>
      <li><a [routerLink]="['/', country, language, 'wheretobuy']" title="{{ 'WHERETOBUY' | translate }}">{{
          'WHERETOBUY' | translate }}</a></li>
      <li><a [routerLink]="['/', country, language, 'contact']" title="{{ 'CONTACTUS' | translate }}">{{ 'CONTACTUS' |
          translate }}</a></li>
      <li><a [routerLink]="['/', country, language, 'page', 'press-releases']" title="{{ 'NEWSHEADING' | translate }}">{{
          'NEWSHEADING' | translate }}</a></li>
    </ul>
  </div>
</div>