<!-- <div class="big-feature"> -->
<div class="grid-x big-feature" *ngFor="let feature of features; let i = index" [ngStyle]="{'background-image': 'url(' + image[i] + ')'}" [class.right]="i%2!=0">
    <div class="medium-12 cell gradient">
        <div class="grid-container">
            <div class="grid-x grid-padding-x" [class.text-right]="i%2!=0">
                <div class="medium-6 cell" [class.medium-order-2]="i%2!=0">
                    <span>{{ 'WHATIS' | translate }}</span>
                    <h3>{{ feature.name }}</h3>
                    <p class="feature-text">
                        {{ feature.longDescription }}
                    </p>
                </div>
                <div class="medium-6 cell" [class.medium-order-1]="i%2!=0">
                    <div class="image-container"> </div>
                </div>
            </div>    
        </div>
    </div>
</div>
<!-- </div> -->