@import "../../../../../assets/scss/_settings.scss";

.big-feature {
  background-repeat: no-repeat;
  background-size: cover;

  .gradient {
    background: -moz-linear-gradient(left, rgba(254, 254, 254, 1) 0%, rgba(254, 254, 254, .80) 50%, rgba(254, 254, 254, 0) 60%, rgba(254, 254, 254, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(254, 254, 254, 1) 0%, rgba(254, 254, 254, .80) 50%, rgba(254, 254, 254, 0) 60%, rgba(254, 254, 254, 0) 100%);
    background: linear-gradient(to right, rgba(254, 254, 254, 1) 0%, rgba(254, 254, 254, .80) 50%, rgba(254, 254, 254, 0) 60%, rgba(254, 254, 254, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#00fefefe', GradientType=1);
    height: 100%;
    padding: 200px 0px;
  }

  &.right {
    .gradient {
      background: -moz-linear-gradient(right, rgba(254, 254, 254, 1) 0%, rgba(254, 254, 254, .80) 50%, rgba(254, 254, 254, 0) 60%, rgba(254, 254, 254, 0) 100%);
      background: -webkit-linear-gradient(right, rgba(254, 254, 254, 1) 0%, rgba(254, 254, 254, .80) 50%, rgba(254, 254, 254, 0) 60%, rgba(254, 254, 254, 0) 100%);
      background: linear-gradient(to left, rgba(254, 254, 254, 1) 0%, rgba(254, 254, 254, .80) 50%, rgba(254, 254, 254, 0) 60%, rgba(254, 254, 254, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00fefefe', endColorstr='#fefefe', GradientType=1);
    }
  }

  h3 {
    color: $red;
    font-weight: 800;
    text-transform: uppercase;
  }
}
