<div class="specifications">
  <div class="grid-container">
    <div id="spec-timeline">
      <div class="timeline-circle"></div>
      <div class="spec-center-line"></div>
      <div class="spec-timeline-content">
        <div class="timeline-article" *ngFor="let specCategory of specs; let i = index">
          <div class="content-left-container">
            <div class="content-left">
              <div class="left-content">
                {{specCategory.name }}
              </div>
              <div class="right-content" *ngFor="let spec of specCategory.children;">
                {{ spec.name }}
              </div>
            </div>
          </div>
          <div class="content-right-container">
            <div class="content-right" *ngFor="let spec of specCategory.children;">
              {{ spec.value }}
            </div>
          </div>
        </div>
        <hr>
      </div>
      <div class="timeline-circle"></div>
    </div>
  </div>
