@import "../../../../assets/scss/_settings.scss";

.specifications {
  background: $header-gray;
  padding: 50px 0px;

  #spec-line {
    border-bottom: 2px solid #d5d5d5;
    padding: 20px 0px;
  }
}

thead,
tbody,
tfoot {
  border: 1px solid #f1f1f1 !important;
  background: none !important;
}

#spec-timeline {
  position: relative;
}

#spec-timeline .spec-center-line {
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 50%;
  margin-left: -2px;
  background: $red;
  ;
  z-index: 1;
}

#spec-timeline .spec-timeline-content {
  padding-top: 67px;
  padding-bottom: 67px;
}

.timeline-article {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 20px 0;
}

.timeline-article .content-left-container,
.timeline-article .content-right-container {
  max-width: 44%;
  width: 100%;
}

.timeline-article .content-left,
.timeline-article .content-right {
  position: relative;
  padding: 10px;
}

.right-content,
.left-content {
  font-weight: 600;
}

.right-content {
  width: 55%;
  float: right;
  text-align: right;
  padding: 10px;
}

.left-content {
  width: 45%;
  float: left;
  padding: 10px;
}

.timeline-article p {
  padding: 0;
  font-weight: 600;
  color: #242424;
  font-size: 14px;
  line-height: 24px;
  position: relative;
}

.timeline-article .content-left-container {
  float: left;
}

.timeline-article .content-right-container {
  float: right;
}

.timeline-circle {
  background: #f1f1f1;
  text-align: center;
  margin: 0 auto;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  border: 2px solid $red;
  position: relative;
  z-index: 2;
}
