<div class="grid-container">
  <div class="grid-x">
    <div class="medium-3 small-12 cell">
      <a [routerLink]="['/', country, language]" title="{{ 'WEBSITETITLE' | translate }}" class="logo"><img src="assets/img/logo.png"
          alt="{{ 'WEBSITETITLE' | translate }}"></a>
    </div>
    <div class="medium-9 small-12 cell" id="main-top">
      <ul class="menu align-right">
        <li class="grey"><a href="http://www.hitachi.com/search-e/" target="_blank" title="Search Hitachi Global Website"><i class="fa fa-search"></i>
            {{ 'HEADERSEARCH' | translate }}</a></li>
        <li class="grey"><span id="continent-link" (click)="changeTopTab($event)"><i class="fa fa-globe"></i> Europe</span></li>
        <li class="red"><span id="products-link" (click)="changeTopTab($event)">
          {{ 'HEADERHITACHIGROUP' | translate }}<br>{{ 'HEADERPRODUCTSSERVICES' | translate }}
        </span></li>
        <li class="red"><span id="info-link" (click)="changeTopTab($event)">
          {{ 'HEADERHITACHIGROUP' | translate }}<br>{{
              'HEADERCORPORATEINFORMATION' | translate }}
        </span></li>
      </ul>
    </div>
  </div>
</div>

<div class="header-dropdowns-container">
  <div class="grid-container">

    <div class="grid-x header-dropdown-content" id="continent">
      <div class="medium-12 cell">
        <div class="grid-x">
          <div class="medium-6 cell">
            <ul class="menu network">
              <li><a href="http://www.hitachi.com/global/index.html" title="Visit Hitachi Group Global Network" class="global-link" target="_blank">Hitachi Group Global Network <i class="fa fa-chevron-right"></i></a></li>
              <li>Global (<a href="http://hitachi.com" target="_blank" title="" class="lang">English</a>)</li>
            </ul>
          </div>
          <div class="medium-6 cell text-right">
            <button class="button close" (click)="onClose($event)">Close <i class="fa fa-close"></i></button>
          </div>
        </div>
        <div class="grid-x">
          <div class="medium-12 cell">
            <ul class="tabs menu grid-x grid-padding-x medium-up-5">
              <ng-container *ngFor="let continent of continentList; let i = index">
                <li 
                  class="cell"
                  [attr.data-continent]="continent.id"
                  (click)="changeContinentTab($event)"
                  [ngClass]="i === 0 ? 'is-active' : ''">
                  {{ continent.name }}
                </li>
              </ng-container>
            </ul>
          </div>
        </div>

        <ng-container *ngFor="let continent of continentList; let i = index">
          <div 
            class="grid-x grid-padding-x tabs-content" 
            id="{{ continent.id }}" 
            [ngClass]="i === 0 ? 'is-active' : ''">
            <div class="medium-3 cell">
              <span>Select Country/Region</span>
            </div>
            <div class="medium-3 cell">
              <ul class="country-list">
                <ng-container *ngFor="let country of continent.countries">
                  <li *ngIf="country.col == '1'">
                    <span>{{ country.name }}</span>
                    (<a href="{{ country.url }}" [attr.lang]="country.langCode" target="_blank">{{ country.lang }}</a>
                    <ng-container *ngIf="country.lang2 != ''"> / <a href="{{country.url2}}" [attr.lang]="country.langCode2" target="_blank">{{country.lang2}}</a></ng-container><ng-container *ngIf="country.lang3 != ''"> / <a href="{{country.url3}}" [attr.lang]="country.langCode3" target="_blank">{{country.lang3}}</a></ng-container>)
                  </li>
                </ng-container>
              </ul>
            </div>
            <div class="medium-3 cell">
              <ul class="country-list">
                <ng-container *ngFor="let country of continent.countries">
                  <li *ngIf="country.col == '2'">
                    <span>{{ country.name }}</span>
                    (<a href="{{ country.url }}" [attr.lang]="country.langCode" target="_blank">{{ country.lang }}</a>
                    <ng-container *ngIf="country.lang2 != ''"> / <a href="{{country.url2}}" [attr.lang]="country.langCode2" target="_blank">{{country.lang2}}</a></ng-container><ng-container *ngIf="country.lang3 != ''"> / <a href="{{country.url3}}" [attr.lang]="country.langCode3" target="_blank">{{country.lang3}}</a></ng-container>)
                  </li>
                </ng-container>
              </ul>
            </div>
            <div class="medium-3 cell">
              <ul class="country-list">
                <ng-container *ngFor="let country of continent.countries">
                  <li *ngIf="country.col == '3'">
                    <span>{{ country.name }}</span>
                    (<a href="{{ country.url }}" [attr.lang]="country.langCode" target="_blank">{{ country.lang }}</a>
                    <ng-container *ngIf="country.lang2 != ''"> / <a href="{{country.url2}}" [attr.lang]="country.langCode2" target="_blank">{{country.lang2}}</a></ng-container><ng-container *ngIf="country.lang3 != ''"> / <a href="{{country.url3}}" [attr.lang]="country.langCode3" target="_blank">{{country.lang3}}</a></ng-container>)
                  </li>
                </ng-container>
              </ul>
            </div>
          </div>
        </ng-container>

      </div>
    </div>

    <div class="grid-x header-dropdown-content" id="products">
      <div class="medium-12 cell">
        <div class="grid-x">
          <div class="medium-6 cell">
            <ul class="menu network">
              <li><a href="http://www.hitachi.eu/en/products-and-services/" title="Visit Hitachi Group Global Network" class="global-link" target="_blank">Hitachi Group <br> Products and Services <i class="fa fa-chevron-right"></i></a></li>
            </ul>
          </div>
          <div class="medium-6 cell text-right">
            <button class="button close" (click)="onClose($event)">Close <i class="fa fa-close"></i></button>
          </div>
        </div>
        <div class="grid-x">
          <div class="medium-12 cell">
            <ul class="no-bullet country-list grid-x grid-padding-x medium-up-4">
              <li class="cell"><a target="_blank" href="http://www.hitachi.eu/cs-cs/produkty-sluzby">Čeština <i class="fa fa-angle-right"></i></a></li>
              <li class="cell"><a target="_blank" href="http://www.hitachi.eu/da-dk/produkter-og-ydelser">Dansk <i class="fa fa-angle-right"></i></a></li>
              <li class="cell"><a target="_blank" href="http://www.hitachi.eu/de-at/produkte-und-dienstleistungen">Österreich (Deutsch) <i class="fa fa-angle-right"></i></a></li>
              <li class="cell"><a target="_blank" href="http://www.hitachi.eu/de-ch/produkte-und-dienstleistungen">Schweiz (Deutsch) <i class="fa fa-angle-right"></i></a></li>
              <li class="cell"><a target="_blank" href="http://www.hitachi.eu/de-de/produkte-und-dienstleistungen">Deutschland (Deutsch) <i class="fa fa-angle-right"></i></a></li>
              <li class="cell"><a target="_blank" href="http://www.hitachi.eu/el-gr/proionta-ypiresies">ελληνικά (Ελλάδα) <i class="fa fa-angle-right"></i></a></li>
              <li class="cell"><a target="_blank" href="http://www.hitachi.eu/en-gb/products-and-services">UK (English) <i class="fa fa-angle-right"></i></a></li>
              <li class="cell"><a target="_blank" href="http://www.hitachi.eu/en-ie/products-and-services">Ireland (English) <i class="fa fa-angle-right"></i></a></li>
              <li class="cell"><a target="_blank" href="http://www.hitachi.eu/es-es/productos-y-servicios">Español <i class="fa fa-angle-right"></i></a></li>
              <li class="cell"><a target="_blank" href="http://www.hitachi.eu/fi-fi/tuotteet-ja-palvelut">Suomi <i class="fa fa-angle-right"></i></a></li>
              <li class="cell"><a target="_blank" href="http://www.hitachi.eu/fr-be/produits-et-services">Belgique (Français) <i class="fa fa-angle-right"></i></a></li>
              <li class="cell"><a target="_blank" href="http://www.hitachi.eu/fr-ch/produits-et-services">Suisse (Français) <i class="fa fa-angle-right"></i></a></li>
              <li class="cell"><a target="_blank" href="http://www.hitachi.eu/fr-fr/produits-et-services">France (Français) <i class="fa fa-angle-right"></i></a></li>
              <li class="cell"><a target="_blank" href="http://www.hitachi.eu/it-ch/prodotti-e-servizi">Svizzera (Italiano) <i class="fa fa-angle-right"></i></a></li>
              <li class="cell"><a target="_blank" href="http://www.hitachi.eu/it-it/prodotti-e-servizi">Italia (Italiano) <i class="fa fa-angle-right"></i></a></li>
              <li class="cell"><a target="_blank" href="http://www.hitachi.eu/lt-lt/produktai-ir-paslaugos">Lietuvių <i class="fa fa-angle-right"></i></a></li>
              <li class="cell"><a target="_blank" href="http://www.hitachi.eu/nl-be/producten-en-diensten">België (Nederlands) <i class="fa fa-angle-right"></i></a></li>
              <li class="cell"><a target="_blank" href="http://www.hitachi.eu/nl-nl/producten-en-diensten">Nederland (Nederlands) <i class="fa fa-angle-right"></i></a></li>
              <li class="cell"><a target="_blank" href="http://www.hitachi.eu/no-no/produkter-og-tjenester">Norsk <i class="fa fa-angle-right"></i></a></li>
              <li class="cell"><a target="_blank" href="http://www.hitachi.eu/pl-pl/produkty-i-uslugi">Polski <i class="fa fa-angle-right"></i></a></li>
              <li class="cell"><a target="_blank" href="http://www.hitachi.eu/pt-pt/produtos-e-servicos">Português <i class="fa fa-angle-right"></i></a></li>
              <li class="cell"><a target="_blank" href="http://www.hitachi.eu/ro-ro/produse-si-servicii">Română <i class="fa fa-angle-right"></i></a></li>
              <li class="cell"><a target="_blank" href="http://www.hitachi.eu/sv-se/produkter-tjanster">Svenska <i class="fa fa-angle-right"></i></a></li>
              <li class="cell"><a target="_blank" href="http://www.hitachi.eu/tr-tr/urunler-ve-hizmetler">Türkiye (Türkçe) <i class="fa fa-angle-right"></i></a></li>
              <li class="cell"><a target="_blank" href="http://www.hitachi.eu//sk-sk/products-and-services">Slovenščina <i class="fa fa-angle-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-x header-dropdown-content" id="info">
      <div class="medium-12 cell">
        <div class="grid-x">
          <div class="medium-6 cell">
            <ul class="menu network">
              <li><a href="http://www.hitachi.eu/node/1374/" title="Visit Hitachi Group Global Network" class="global-link" target="_blank">Hitachi Group<br>Corporate Information <i class="fa fa-chevron-right"></i></a></li>
            </ul>
          </div>
          <div class="medium-6 cell text-right">
            <button class="button close" (click)="onClose($event)">Close <i class="fa fa-close"></i></button>
          </div>
        </div>
        <div class="grid-x">
          <div class="medium-12 cell">
            <ul class="no-bullet country-list grid-x grid-padding-x medium-up-4">
              <li class="cell"><a target="_blank" href="http://www.hitachi.eu/en/press/">News Releases <i class="fa fa-angle-right"></i></a></li>
              <li class="cell"><a target="_blank" href="http://careers.hitachi.eu/job-search-and-apply">Careers <i class="fa fa-angle-right"></i></a></li>
              <li class="cell"><a target="_blank" href="http://www.hitachi.com/IR-e/">Information
                    for investors <i class="fa fa-angle-right"></i></a></li>
              <li class="cell"><a target="_blank" href="http://www.hitachi.eu/node/1374/">Hitachi in Europe <i class="fa fa-angle-right"></i></a></li>
              <li class="cell"><a target="_blank" href="http://www.hitachi.eu/node/1374/">Hitachi Global <i class="fa fa-angle-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>