@import "../../../../assets/scss/_settings.scss";
@import "node_modules/foundation-sites/scss/components/_button.scss"; 
.logo {
  padding-top: $global-padding;
  display: inline-block;
}

.menu {
  li {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint(small down) {
      width: 25%;
    }

    a, span {
      font-weight: 600;
      font-size: rem-calc(12);
      transition: all .2s ease-in-out;
      padding: .7rem 1rem;
      cursor: pointer;
    }

    &.grey {
      background: $medium-light-gray;

      .fa {
        color: $dark-gray;
        padding-right: 10px;
      }

      a, span {
        color: $black;
      }

      &:first-child {
        border-right: 1px solid $header-border;
      }

      &:hover {
        background: darken($medium-light-gray, 8%);
      }
    }

    &.red {
      background: $contact-red;
      transition: all .3s ease-in-out;

      &:last-child {
        border-left: 1px solid rgba($white, .4);
      }

      a, span {
        color: $white;
        // text-align: center;
      }

      &:hover {
        background: darken($contact-red, 5%);
      }
    }
  }
}



.header-dropdowns-container {
  background: $header-dropdown-gray;
  .menu.network {
    color: $black;
    font-size: rem-calc(13);
    li {
      height: auto;
      margin-top: $global-margin;
      a {
        color: $black;
        i {
          color: $hitachi-red;
          margin-left: $global-margin/2;
        }
        &.lang {
          padding: 0;
          color: $hitachi-red;
        }
      }
      &:first-child {
        padding: 0;
        a {
          padding: 0;
        }
      }
      &:nth-child(2) {
        padding-left: $global-margin;
        border-left: 1px solid $light-gray;
      }
    }
  }
  .button.close {
    @include button(false, $contact-red, darken($contact-red, 10%), $white, solid);
    margin-top: $global-margin;
  }
  .tabs {
    background: transparent;
    border-top: solid 1px $medium-gray;
    border-bottom: solid 1px $medium-gray;
    li {
      cursor: pointer;
      // transition: all .2s ease-in-out;
      &:hover, &.is-active {
        background: $hitachi-red;
        color: $white;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          display: block;
          width: 0;
          height: 0;
          border: inset 10px;
          border-bottom-width: 0;
          border-top-style: solid;
          border-color: $hitachi-red transparent transparent;
          left: 50%;
          bottom: -10px;
          transform: translateX(-50%);
        }
      }
    }
  }
  .tabs-content {
    margin-top: $global-margin*2;
    background: transparent;
    min-height: 250px;
    display: none;
    &.is-active {
      display: flex;
    }
    .country-list {
      li {
        a {
          color: $hitachi-red;
          white-space: nowrap;
          &:hover {
            color: darken($hitachi-red, 10%);
          }
        }
      }
    }
  }
  .header-dropdown-content {
    display: none;
    &.is-active {
      display: flex;
    }
  }
}

#products, #info {
  ul.country-list {
    li {
      padding: 1rem 0;
      a {
        color: $hitachi-red;
        font-size: rem-calc(14);
        line-height: 1.6;
        &:hover {
          color: darken($hitachi-red, 10%);
        }
      }
    }
  }
}