<div class="spec">
  <div class="grid-x" id="subpages">
      <div class="medium-12 cell">
          <div class="grid-container">
              <div class="grid-x">
                <div class="medium-3 cell">
                  <h1>{{ 'FEATUREDSPECSSPECIFICATIONS' | translate }}</h1>
                </div>
              </div>
              <div class="grid-x grid-margin-x">
                  <div class="medium-3 cell">
                    <ul class="vertical tabs spec-titles">
                      <ng-container *ngFor="let featuredSpec of featuredSpecs|slice:0:3; let i = index">
                        <li 
                          class="tabs-title align-center-middle" 
                          (click)="changeTab(i+1)" 
                          id="title{{i+1}}" 
                          [ngClass]="i === 0 ? 'is-active' : ''"><span>{{ featuredSpec.name }}</span></li>
                      </ng-container>
                    </ul>
                  </div>
                  <div class="medium-6 cell medium-order-1 small-order-2">
                      <div class="tabs-content spec-tabs">
                          <ng-container *ngFor="let featuredSpec of featuredSpecs; let i = index">
                            <div class="tabs-panel" id="tab{{i+1}}" [ngClass]="i === 0 ? 'is-active' : ''">
                                <div class="grid-x">
                                  <div class="medium-12 cell text-center">
                                    <img class="thumbnail" [src]="featuredSpec.image[0]?.path" alt="" *ngIf="featuredSpec.image[0]?.path">
                                  </div>
                                </div>
                                <div class="grid-x">
                                  <div class="medium-12 cell">
                                    <span>{{ featuredSpec.name }}</span>
                                    <h3>{{ featuredSpec.title }}</h3>
                                    <p>{{ featuredSpec.description }}</p> 
                                    <!-- <button type="button" class="button primary spec-btn">Read More Detail</button> -->
                                  </div>
                                </div>
                            </div>
                          </ng-container>
                      </div>
                  </div>
                  <div class="medium-3 cell right-tabs spec-tabs medium-order-2 small-order-1">
                    <ul class="vertical tabs spec-titles">
                      <ng-container *ngFor="let featuredSpec of featuredSpecs|slice:3:7; let i = index">
                        <li 
                          class="tabs-title align-center-middle"
                          (click)="changeTab(i+4)"
                          id="title{{i+4}}"><span>{{ featuredSpec.name }}</span></li>
                      </ng-container>
                    </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

