@import "../../../assets/scss/_settings.scss";

.spec {
  background: #363131;
  padding: 40px 0px;
  h1 {
    font-size:30px;
    color: $white;
    border-bottom: 6px solid $hitachi-red;
  }
  .tabs-title {
    margin: 15px 0px;
    height: 150px;
    background: $tabs-gray;
    border-radius: 10px;
    text-align: center;
    display: flex;
    transition: all ease 1s; 
    &:hover{
      background: $hitachi-red; 
      cursor: pointer;
    }
    &.is-active {
      background: $hitachi-red; 
    }
    span {
      color: $white;
      font-weight: 300;
      font-size: rem-calc(24);
      outline: none;
      display: inline-flex;
      @include breakpoint(medium down) {
        font-size: rem-calc(20);
      }
      @include breakpoint(small down){
        font-size: rem-calc(16);
      }
    }
    @include breakpoint(small down){
      width: 31%;
      float: left;
      margin: 1% !important;
      height: 100px;
    }
  }
  .tabs-panel {
    span {
      color:#989898;
    }
    h3 {
      color: $white;
    }
    p {
      padding-top:30px;
      color:#989898;
      font-size:14px;
    }
    .spec-btn {
      background: $red;
      font-size:12px;
    }
  }
  .right-tabs{
    @include breakpoint(medium) {
      margin-top: 0px;
    }
    li {
      &:first-child {
        @include breakpoint(medium down) {
          margin-top: 0;
        }
      }
    }
    a {
      margin: auto; 
      width:200px;
      display: flex;
      justify-content: center; 
      align-items: center;
    }
  }
}

.tabs, .tabs-content, .thumbnail {
  background: none;
  border:none;
}
