<div class="breadcrumb-section">
  <div class="grid-container">
    <div class="grid-x">
      <div class="medium-12 cell">
        <breadcrumb></breadcrumb>
      </div>
    </div>
  </div>
</div>

<div class="grid-x category-banner">
  <div class="medium-12 cell" *ngFor="let image of categories[0]?.images.desktop">
    <div class="image-container">
      <img [src]="image?.path" alt="{{ image?.name }}">
    </div>
  </div>
</div>

<main class="category-page">

  <div class="grid-x">
    <div class="medium-12 cell align-left">
      <div class="grid-container">
        <p class="cat-name" *ngFor="let cat of categories">
          <span> {{ cat.name }} </span>
          {{ 'HITACHITELEVISIONS' | translate }}
        </p>
      </div>
    </div>
  </div>

  <div class="grid-x grid-padding-y product-listing">
    <div class="medium-12 cell">
      <div class="grid-container">
        <div class="grid-x grid-margin-x grid-padding-y grid-margin-y medium-up-3">
          <div class="cell product" *ngFor="let product of products">
            <div class="grid-x grid-padding-x">
              <div class="medium-12 cell">
                <div class="image-container">
                  <img [src]="product.images.desktop?.path" alt="{{ product.name }}">
                </div>
                <div class="product-name">
                  <a [routerLink]="['/', country, language, 'product', product.id, product.link]">{{ product.name }}</a>
                  <hr>
                </div>
                <div class="product-keys" *ngFor="let keys of product.text; let i = index">
                  <span *ngIf="i < 3"> {{keys.text}} </span>
                </div>
                <div class="product-btn">
                  <a [routerLink]="['/', country, language, 'product', product.id, product.link]">{{ 'LEARNMORE' |
                    translate }} ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>