@import "../../assets/scss/_settings.scss";

.category-page {
  padding: 40px 0px;

  .hover-img {
    border-bottom: 8px solid $white;

    &:hover {
      border-bottom: 8px solid $red;

      &:hover:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        margin-left: -0.5em;
        bottom: -2em;
        left: 70%;
        box-sizing: border-box;
        border: 1em solid black;
        border-color: transparent transparent #fe0000 #fe0000;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }
}

.category-banner {
  .image-container {
    img {
      width: 100%;
      height: auto;
    }
  }
}


.product-listing {
  position: relative;

  // padding-top: $global-padding;
  // padding-bottom: $global-padding;
  .product {
    background: $white;
    margin-bottom: 100px;
    margin-top: 40px;

    .image-container {
      padding: 0 $global-padding;
      margin-top: -120px;
      position: relative;
    }

    .product-name {
      a {
        color: $black;
        font-weight: 600;
      }

      hr {
        border-bottom: 1px solid $red;
      }
    }

    .product-keys {
      color: $light-gray;
    }

    .product-btn {
      padding-top: 10px;

      a {
        color: $red;
        font-size: 13px;
        font-weight: 600;

      }
    }
  }
}

.cat-name {
  font-size: 35px;
  padding-bottom: 60px;
  color: $medium-light-gray;
  margin: 0px;
  font-weight: 200;
  letter-spacing: 5px;

  span {
    font-weight: 600;
    margin-right: 10px;

    a {
      color: $medium-light-gray;
    }
  }
}

.product {
  background: #fefefe;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 30px;
  box-shadow: 0 2px 4px 0 rgba(146, 146, 146, 0.4);
  -moz-box-shadow: 0 0 10px rgba(146, 146, 146, 0.4);
  -webkit-box-shadow: 0 0 10px rgba(146, 146, 146, 0.4);
  -o-box-shadow: 0 0 10px rgba(146, 146, 146, 0.4);
}

#left-image {
  background-image: url(/assets/img/cat-tv1.png);
  padding: 130px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;

  h3 {
    color: #FFF;
    position: absolute;
    bottom: 0;
    margin-left: 30px;
  }
}

.right-top-one {
  background-image: url(/assets/img/cat-tv2.png);
  padding: 130px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;

  h3 {
    color: #FFF;
    position: absolute;
    bottom: 0;
    margin-left: 30px;
  }
}

.right-top-two {
  background-image: url(/assets/img/cat-tv3.png);
  padding: 130px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;

  h3 {
    color: #FFF;
    position: absolute;
    bottom: 0;
    margin-left: 30px;
  }
}

.right-bottom {
  background-image: url(/assets/img/cat-tv4.png);
  padding: 130px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;

  h3 {
    color: #FFF;
    position: absolute;
    bottom: 0;
    margin-left: 30px;
  }
}
