@import "/../../../../assets/scss/_settings.scss";

.product-support{
    background: #f2f2f2;
    padding: 60px 0px;
    #support-box{
        position: relative;
        .pdf-title{
            font-size: 30px;
            font-weight:600;
            color: $red;
            text-transform: uppercase;
        }
        .inner-support{
            background: $white;
            box-shadow: 0 2px 4px 0 rgba(146, 146, 146, 0.4);
            -moz-box-shadow: 0 0 10px rgba(146, 146, 146, 0.4);
            -webkit-box-shadow: 0 0 10px rgba(146, 146, 146, 0.4);
            -o-box-shadow: 0 0 10px rgba(146, 146, 146, 0.4);
            padding:50px;
             .support-desc{
                display: inline-block;
                margin: 10px;
                font-size: 18px;
                font-weight: 300;
                padding-left: 85px;
                background-image: url(/assets/img/pdf-icon.png);
                background-repeat: no-repeat;
                background-position: left 8px;
                a{
                    color: $red;
                    font-weight: 600;
                }
            }
            .icon{
                position: absolute;
                right: 0;
                bottom: 0;
                background: #e7e7e7;
                border: 10px solid #f2f2f2;
                border-bottom: none;
                border-right: none;
                border-top-left-radius: 60px;
                padding: 25px 15px 10px 30px;
                .fa.fa-arrow-down{
                    color: $dark-gray;
                    font-size: 24px;
                }
            }
        }
    }
}