<!--
<div class="grid-container">
  <div class="grid-x" *ngFor="let file of files">
    <div class="medium-12 cell">
      {{ file.name }} <br>
      {{ file.path }} <br>
      {{ file.typeCode }}
    </div>
  </div>
</div>
-->

<div class="product-support">
  <div class="grid-container">
    <div class="grid-x grid-margin-x medium-up-2">
      <div class="cell" id="support-box" *ngFor="let file of files">
        <span class="pdf-title">{{ file.name }}</span> 
        <div class="inner-support">
          <div class="support-desc">
            <p>Click and download the Operating Instructions file as PDF. (EN)</p>
            <a href="{{ file.path }}" download>PDF FILE</a>
          </div>
          <div class="icon">
              <i class="fa fa-arrow-down" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    