@import "../../../assets/scss/_settings.scss";

.support {
  text-align: center;
  padding: 45px 0 0 0;
  height: 350px;
  background-image: url("https://images.pexels.com/photos/392018/pexels-photo-392018.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .home-support {
    text-align: left;
    padding: 30px 0px;
  }

  h2 {
    color: #FFF;
    font-weight: bold;
  }

  p {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
  }

  .btn-border {
    border: 1px solid #fff;
    padding: 10px 20px 12px 20px;
    transition: 200ms;
    color: #fff;
  }
}
