<div class="support">
  <div class="grid-container">
    <div class="grid-x">
      <div class="large-6 cell home-support">
        <h2>{{ 'SEENOTHINGELSE' | translate }}</h2>
        <p>{{ 'FOOTERSUPPORTBANNERTEXT' | translate }}</p>
      </div>
    </div>
  </div>
</div>
