<div class="discover-tv">
  <div class="medium-12 cell">
    <div class="grid-container">
      <div class="discover-heading text-center">
        <h3><small>{{ 'PRODUCTSBYSIZEDISCOVER' | translate}}</small> {{ 'THEIDEALTV' | translate}} </h3>  
        <p>{{ 'CHOSEYOURIDEAL' | translate}}</p>
      </div>
      <div class="medium-12 cell discover-sizes text-center">
        <ul class="tabs" data-active-collapse="true" data-tabs id="collapsing-tabs">
          <li class="tabs-title is-active">
            <a href="#panel1c" aria-selected="true">
              <img src="assets/img/32-inch.png" alt="32&quot; TV Size image">
              <img class="hover" src="assets/img/32-inch-hover.png">
            </a>
            <p class="text-center"> {{ 'HUNDREDTWOCM' | translate}} <strong>{{ 'THIRTYTWOINCH' | translate}}</strong></p>
          </li>
          <li class="tabs-title">
            <a href="#panel2c"> 
              <img src="assets/img/40-43-inch.png">
              <img class="hover" src="assets/img/40-43-inch-hover.png">
            </a>
            <p class="text-center">{{ 'HUNDREDTWOCM' | translate}} <strong> {{ 'FOURTY' | translate}} </strong> - {{ 'HUNDREDNINE' | translate}} <strong>(43")</strong></p>
          </li>
          <li class="tabs-title">
            <a href="#panel3c">
              <img src="assets/img/40-43-inch.png">
              <img class="hover" src="assets/img/40-43-inch-hover.png">
            </a>
            <p class="text-center"> {{ 'HUNDREDTWENTYFOURCM' | translate}} <strong> {{ 'HUNDREDTWENTYFOURCM' | translate}} </strong> - {{ 'HUNDREDFOURTY' | translate}} <strong> {{ 'FIFTYFIVE' | translate}} </strong></p>
          </li>
          <li class="tabs-title">
            <a href="#panel4c">
              <img src="assets/img/65-inch.png">
              <img class="hover" src="assets/img/65-inch-hover.png">
            </a>
            <p class="text-center"> {{ 'HUNDREDSIXTYFIVECM' | translate}} <strong> {{ 'SIXTYFIVE' | translate}} </strong></p>
          </li>
        </ul>
        <div class="tabs-content" data-tabs-content="collapsing-tabs">
          <div class="tabs-panel is-active" id="panel1c">
            <div class="grid-x">
              <div class="medium-12 cell discover-category">
                <div class="grid-x grid-padding-x grid-padding-y medium-up-3">
                  <div class="cell image-hover text-center" *ngFor="let product of inches32">
                    <img src="assets/img/tv-1.png" alt="Avatar" class="image">
                    <div class="centered-image">
                      <div class="text">{{ product?.code }}</div>
                    </div>
                    <p>{{ product?.name }}</p>
                    <!-- <span>$1599</span> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tabs-panel" id="panel2c">
            <div class="grid-x">
              <div class="medium-12 cell discover-category">
                <div class="grid-x grid-padding-x grid-padding-y medium-up-3">
                  <div class="cell image-hover text-center" *ngFor="let product of inches40">
                    <img src="assets/img/tv-1.png" alt="Avatar" class="image">
                    <div class="centered-image">
                      <div class="text">{{ product?.code }}</div>
                    </div>
                    <p>{{ product?.name }}</p>
                    <!-- <span>$1599</span> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tabs-panel" id="panel3c">
            <div class="grid-x">
              <div class="medium-12 cell discover-category">
                <div class="grid-x grid-padding-x grid-padding-y medium-up-3">
                  <div class="cell image-hover text-center" *ngFor="let product of inches49">
                    <img src="assets/img/tv-1.png" alt="Avatar" class="image">
                    <div class="centered-image">
                      <div class="text">{{ product?.code }}</div>
                    </div>
                    <p>{{ product?.name }}</p>
                    <!-- <span>$1599</span> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tabs-panel" id="panel4c">
            <div class="grid-x">
              <div class="medium-12 cell discover-category">
                <div class="grid-x grid-padding-x grid-padding-y medium-up-3">
                  <div class="cell image-hover text-center" *ngFor="let product of inches65">
                    <img src="assets/img/tv-1.png" alt="Avatar" class="image">
                    <div class="centered-image">
                      <div class="text">{{ product?.code }}</div>
                    </div>
                    <p>{{ product?.name }}</p>
                    <!-- <span>$1599</span> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>