@import "../../../assets/scss/_settings.scss";

.discover-tv{
    padding:50px 0px;
    .discover-heading{
      h3 {
        
        // font-size:34px;
        small {
          font-size: 100%;
        }
      }
    }
    .discover-sizes{
      padding:50px 0px;
      .tabs {
        border:none;
        display: inline-block;
        .tabs-title {
          position: relative;
          img {
            transition: opacity .2s ease-in-out;
            &.hover {
              opacity: 0;
              position: absolute;
              top: 0;
              left: 50%;
              transform: translateX(-50%);
              padding: 1.25rem 1.5rem;
            }
          }
          &.is-active {
            img {
              opacity: 0;
              &.hover {
                opacity: 1;
              }
            }
          }
          > a[aria-selected='true'] {
            background: none !important;
          }
        }
        a {
          outline: none;
        }
      }
      .tabs-content {
        border: none;
      }
    }
    .discover-category {
      padding:40px 0px;
      position: relative;
      p {
        max-width: 60%;
        margin: 0 auto;
        color: #989898;
        font-weight: bold;
        padding: 15px 0px;
      }
      span {
        font-weight: 900;
        font-size:35px;
      }
      .image-hover {
        position: relative;
    }
    .image {
      opacity: 1;
      display: block;
      height: auto;
      transition: .5s ease;
      backface-visibility: hidden;
    }
    .centered-image {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }
    .image-hover:hover .image {
      opacity: 0.3;
    }
     .image-hover:hover .centered-image {
      opacity: 1;
    }
    .text {
      background-color: #ff0000;
      color: white;
      font-size: 16px;
      border-radius: 20px;
      padding: 10px 20px;
    }
  }
  img{
    margin:0 auto;
    display:table;
  }
}

@media screen and (max-width: 1024px) {
  .tabs-title{
    float:left;
    width:50%;
  }
}