@import "../../../assets/scss/_settings.scss";

// .background-container {
//   background-image: url(../../../assets/img/sub-image.jpg);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
//   min-height: 100px;
//   > .grid-container {
//     height: 100%;
//     > .grid-x {
//       height: 100%;
//     }
//   }
// }

/*
ul {
 &.breadcrumbs {
   margin: 0;
   li {
       font-size: rem-calc(19);
       a, span {
         color: $white;
         font-size: rem-calc(19);
        text-decoration: none;
       }
       span {
         color: $black;
      }
     }
   }
 }
*/

.breadcrumb {
  margin: 0px !important;
  li {
    display: inline-block;
    margin: 20px 0px;
    a, span {
      color: $black;
      font-size: 15px;
      font-weight: 600;
    }
    &:first-child:after {
      padding: 10px;
      color: $black;
      content: ">";
    }
    &:last-child:before {
      padding: 10px;
      color: $black;
      content: ">";
    }
 }
}


