<!-- <div class="background-container">
  <div class="grid-container">
    <div class="grid-x grid-padding-x align-middle">
      <div class="medium-12 cell" *ngFor="let product of product">
          <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
              <li><a [routerLink]="['/']">Home</a></li>
              <li><a [routerLink]="['/category', product.category[0].id, product.category[0].link]">{{ product.category[0].name }}</a></li>
              <li><span class="show-for-sr">Current: </span> <span>{{ product.code }}</span></li>
            </ul>
          </nav>
      </div>
    </div>
  </div>
</div> -->

<div class="breadcrumb-section">
    <div class="grid-container">
        <div class="grid-x">
            <div class="medium-12 cell" *ngFor="let product of product"> 
                <ol class="breadcrumb">
                    <li class="first-breadcrumb">
                        <a [routerLink]="['/', country, language]"> {{ 'HITACHIHOME' | translate }}</a>
                    </li>
                    <li><a [routerLink]="['/category', product.category[0].id, product.category[0].link]">{{ product.category[0].name }}</a></li>
                    <li><span class="show-for-sr">Current: </span> <span>{{ product.code }}</span></li>
                </ol>
            </div>
        </div>
    </div>
</div>