<header>

  <div class="mobil-navigation" *responsive="{device: ['mobile', 'tablet']}">
    <app-mobil-navigation></app-mobil-navigation>
  </div>

  <div class="header-top" *responsive="{device: 'desktop'}">
    <div class="medium-12 cell">
      <app-hitachi-global-menu></app-hitachi-global-menu>
    </div>
  </div>
  <div class="main-navigation" *responsive="{device: 'desktop'}">
    <div class="medium-12 cell">
      <div class="grid-container">
        <div class="grid-x">
          <div class="medium-12 cell align-left">
            <a [routerLink]="['/', country, language]" title="{{ 'WEBSITETITLE' | translate }}" class="website-title"><span>{{ 'WEBSITETITLE' | translate }}</span></a>
          </div>
        </div>
        <div class="grid-x align-middle">
          <div class="medium-6 cell">
            <app-main-navigation></app-main-navigation>
          </div>
          <div class="medium-6 cell text-right">
            <app-language-bar></app-language-bar>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>