@import "../../../assets/scss/_settings.scss";

/*
header {
  padding-top: $global-padding;
  padding-bottom: $global-padding;
}
*/

.header-top{
  border-top:4px solid $contact-red;
  .logo {
    padding-top: $global-padding;
    display: inline-block;
  }
  
  .menu {
    li {
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include breakpoint(small down) {
        width: 25%;
      }
      a {
        font-weight: 600;
        font-size: rem-calc(12);
      }
      &.grey {
        background: $medium-light-gray;
        .fa {
          color: $dark-gray;
          padding-right:10px;
        }
        a {
          color: $black;
        }
      }
      &.red {
        background: $contact-red;
        transition: all .3s ease-in-out;
        &:last-child {
          border-left: 1px solid rgba($white, .4);
        }
        a {
          color: $white;
          // text-align: center;
        }
        &:hover {
          background: darken($contact-red, 5%);
        }
      }
    }
  }
}

.main-navigation {
  background: $header-gray;
  padding: 10px 0px;
  span {
    display: inline-block;
    margin: 15px 0px;
    font-weight: 600;
  }
  .website-title {
    color: $black;
    &:hover {
      color: lighten($black, 30%);
    }
  }
}