@import '../../../assets/scss/_settings.scss';

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet{
  margin: 0px 20px;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
  left: 10%;
  bottom: 12%;
}

.swiper-slide img{
  width: auto;
}

.swiper-container {
  height: 780px;
}
  
.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  .waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 169px 0;
    background-position: center bottom;
    z-index: 2;
    .wave {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: repeat no-repeat;
      background-position: 0 bottom;
      transform-origin: center bottom;
      background-size: 50% 100px;
    }
  }
}

.swiper-pagination{
  text-align: left;
}

.over-image {
  position: absolute;
  top: 40%;
  bottom: 0;
  width: 100%;
  z-index: 100;
  .text-container {
    @include breakpoint(medium down) {
      padding-left: $global-padding*3;
    }
    @include breakpoint(small down) {
      padding-left: 0;
    }
  }
  p {
    color: $white;
  }
  h1 {
    color:$white;
    font-size:40px;
    font-weight: 600;
  }
  @include breakpoint(medium down) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


@media screen and (max-width: 768px) {
  .over-image {
    top: 20px;
    text-align: center;
    h1 {
      font-size:25px;
    }
  }
}