<!-- <swiper class="swiper-container" [config]="config" [disabled]="disabled">
  <div *ngFor="let slide of slidesArray" class="swiper-slide">
    <img class="slide" [src]="slide.item[0].path" [alt]="slide.itemText[0].title">
  </div>
</swiper> -->

<div *ngIf="type == 'directive' && show" class="swiper-container" [disabled]="disabled" [swiper]="config">
    <div class="swiper-wrapper">
        <div *ngFor="let slide of slides" class="swiper-slide">
        <!-- <img class="slide" [src]="slide.item[0].path" [alt]="slide.itemText[0].title"> -->
        <div class="waveWrapper">
            <div class="waveWrapperInner bgBottom" style=" background-image: url(assets/img/slider-bg.jpg);">
                <div class="wave waveBottom"></div>
            </div>
        </div>
        <div class="over-image">
          <div class="grid-container">
            <div class="grid-x">
              <div class="medium-6 cell">
                <div class="text-container">
                  <h1>{{ slide.itemText[0]?.title }}</h1>
                  <p>{{ slide.itemText[0]?.text }}</p>
               </div>
              </div>
              <div class="medium-6 cell">
                <img class="over-img" src="assets/img/background-tv.png" [alt]="slide.itemText[0].title">
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>
    
    <div class="swiper-scrollbar" [hidden]="config.scrollbar === false"></div>
    <div class="swiper-pagination" [hidden]="config.pagination === false"></div>
    
    <div class="swiper-button-prev swiper-button-white" [hidden]="config.navigation === false"></div>
    <div class="swiper-button-next swiper-button-white" [hidden]="config.navigation === false"></div>
</div>