<div class="breadcrumb">
  <div class="grid-container">
    <div class="grid-x">
      <div class="medium-12 cell">
        <breadcrumb></breadcrumb>
      </div>
    </div>
  </div>
</div>

<div class="language-banner">
  <div class="grid-container">
    <div class="grid-x">
      <div class="medium-12 cell">
        <div class="page-title">
          <h1 class="category-title">{{ 'SELECTYOUR' | translate }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="search-products">
  <div class="grid-container">
    <div class="grid-x" id="relative-content">
      <div class="medium-12 cell">
        <div class="grid-x">
          <div class="input-group">
            <input type="text" [(ngModel)]="queryString" placeholder="Search Countries and Cities">
            <div class="input-group-button">
              <i class="fa fa-search"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-x grid-margin-x medium-up-4" id="flags">
      <div class="cell language-list" *ngFor="let location of locations | filter: queryString : 'name' ; let i = index">
        <span class="flag flag-{{location.code}}"></span>
        <div class="flag-title">
          <p>{{location.name}}</p>
          <strong> {{location.origName}}</strong>
        </div>
        <div class="languages">
          <ul class="menu align-center">
            <li *ngFor="let language of location.lang | orderBy: ['priority']">
              <a [routerLink]="['/', location.code, language.code]" title="{{ language.origName }}">{{
                language.origName }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!--
     <div class="grid-x" id="flags"> 
        <div class="large-3 cell language-list">
          <a [routerLink]="['/', country, language]">
            <img src="assets/img/uk.png" alt="">
            <div class="flag-title">
              <p>English</p>
              <strong>United King</strong>
            </div>
          </a>
        </div>
        <div class="large-3 cell language-list">
          <a [routerLink]="['/', country, language]">
            <img src="assets/img/bosniaHerzegovina.png" alt="">
            <div class="flag-title">
              <p>English</p>
              <strong>United King</strong>
            </div>
          </a>
        </div>
        <div class="large-3 cell language-list">
          <a [routerLink]="['/', country, language]">
            <img src="assets/img/bulgaria.png" alt="">
            <div class="flag-title">
              <p>English</p>
              <strong>United King</strong>
            </div>
          </a>
        </div>
        <div class="large-3 cell language-list">
          <a [routerLink]="['/', country, language]">
            <img src="assets/img/crotia.png" alt="">
            <div class="flag-title">
              <p>English</p>
              <strong>United King</strong>
            </div>
          </a>
        </div>
        <div class="large-3 cell language-list">
          <a [routerLink]="['/', country, language]">
            <img src="assets/img/czech.png" alt="">
            <div class="flag-title">
              <p>English</p>
              <strong>United King</strong>
            </div>
          </a>
        </div>
        <div class="large-3 cell language-list">
          <a [routerLink]="['/', country, language]">
            <img src="assets/img/denmark.png" alt="">
            <div class="flag-title">
              <p>English</p>
              <strong>United King</strong>
            </div>
          </a>
        </div>
        <div class="large-3 cell language-list">
          <a [routerLink]="['/', country, language]">
            <img src="assets/img/finland.png" alt="">
            <div class="flag-title">
              <p>English</p>
              <strong>United King</strong>
            </div>
          </a>
        </div>
        <div class="large-3 cell language-list">
          <a [routerLink]="['/', country, language]">
            <img src="assets/img/france.png" alt="">
            <div class="flag-title">
              <p>English</p>
              <strong>United King</strong>
            </div>
          </a>
        </div>
        <div class="large-3 cell language-list">
          <a [routerLink]="['/', country, language]">
            <img src="assets/img/hungary.png" alt="">
            <div class="flag-title">
              <p>English</p>
              <strong>United King</strong>
            </div>
          </a>
        </div>
      </div> 
      -->

  </div>
</div>