@import "../../assets/scss/_settings.scss";

.product-detail {
  .product-showcase {
    padding: 50px 30px;
    box-shadow: 0 0 4px 0 rgba(146, 146, 146, 0.4);
  }

  .product-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.1;
  }

  .product-code {
    color: $red;
    font-size: 20px;
  }

  .product-sizes {
    li {
      display: inline-block;
      box-shadow: 0 0 4px 0 rgba(146, 146, 146, 0.4);
      margin: 0 5px;
      border-radius: 5px;
      border: 1px solid $white;
      transition: all .2s ease-in-out;
      a {
        color: $black;
        padding: 10px;
        // margin: 0px 10px;
        display: block;
      }
      &:hover {
        border: 1px solid rgba($hitachi-red, .2);
      }
    }
  }

  .product-btn {
    a {
      background: $red;
      color: $white;
      padding: 13px;
      display: inline-block;
      position: relative;
      bottom: -72px;
    }
  }

  .product-category {
    font-size: 30px;
    color: $red;
    font-weight: 700;
  }

  .tabs {
    border: none;

    a {
      color: $black;
      padding: 15px 30px;
      font-size: 20px;
    }

    .active {
      color: $white;
      background: $red;
      border-radius: 4px;
      padding: 15px 30px;
      font-size: 20px;
    }
  }
}

#feature-keys {
  margin: 50px 0px;
}