<div class="breadcrumb-section">
  <div class="grid-container">
    <div class="grid-x">
      <div class="medium-12 cell">
        <breadcrumb></breadcrumb>
      </div>
    </div>
  </div>
</div>

<div class="grid-container product-detail">
  <div class="grid-x grid-padding-x product-showcase">
    <div class="medium-8 small-12 cell">
      <app-images></app-images>
    </div>
    <div class="medium-4 cell text-right">
        <div class="grid-x">
          <div class="medium-12 small-12 cell" *ngFor="let item of product">
            <h2 class="product-title">
              {{ item.name }}
            </h2>
            <!-- <h3 class="product-category">
              {{ product.category[0].name }}
            </h3> -->
            <p class="product-code">
              {{ product.code }}
            </p>
            <!-- <div class="product-price">
               <h1>2.999 $</h1>
            </div> -->
            <div class="product-sizes">
               <ul class="sizes">
                  <li *ngFor="let size of product[0].series?.products">
                    <a [routerLink]="['/', country, language, 'product', size.id, size.link]" title='{{ size.size }}" {{ size.link }}' class="size-link">({{ size.size }}")</a>
                  </li>
                </ul>
            </div> 
            <!-- <div class="product-btn">
                <a>Where To Buy ?</a>
            </div> -->
          </div>
        </div>
      </div>
  </div>

  <div class="grid-x" id="feature-keys">
    <div class="medium-12 cell">
      <app-highlighted-text></app-highlighted-text>
    </div>
  </div>
  
  <div class="grid-x grid-padding-x tabs">
    <div class="medium-12 cell">
      <ul class="menu">
        <li>
          <a [routerLink]="['features']" routerLinkActive="active">{{ 'FEATURES' | translate }}</a>
        </li>
        <li>
          <a [routerLink]="['specifications']" routerLinkActive="active">{{ 'SPECIFICATIONS' | translate }}</a>
        </li>
        <li>
          <a [routerLink]="['support']" routerLinkActive="active">{{ 'SUPPORT' | translate }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="grid-x">
  <div class="medium-12 cell">
    <router-outlet></router-outlet>
  </div>
</div>





