@import "../../../../../assets/scss/_settings.scss";

.cat-name {
  font-size: 40px;
  color: $medium-light-gray;
  margin-top: 30px;
  font-weight: 200;
  letter-spacing: 5px;
  text-transform: uppercase;

  span {
    font-weight: 600;
    margin-right: 10px;

    a {
      color: $medium-light-gray;
    }
  }
}


img {
  box-shadow: 0 0 15px rgba($medium-light-gray, 0.3);
  border: 1px solid transparent;
}

.single-small-feature {
  display: none;

  img {
    border: 1px solid rgba($medium-light-gray, .6);
  }

  .feature-text {
    padding: 30px;

    h4 {
      color: $red;
      font-weight: 600;
    }
  }

  &.is-active {
    display: flex;
  }
}


.small-features .small-feature {
  margin-bottom: $global-margin*3;

  &.is-active {
    img {
      border: 1px solid rgba($hitachi-red, .1);
    }
  }
}
