<div class="grid-x"> 
    <div class="medium-12 cell align-left">
      <div class="grid-container">
        <p class="cat-name">
          <span>HITACHI</span>{{ 'SMARTFEATURES' | translate }}
        </p>
      </div>
    </div>
  </div>
  
  <div class="grid-container">

  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="medium-12 cell">
      <ng-container *ngFor="let feature of features; let i = index">
        <div class="grid-x grid-padding-x single-small-feature" id="tab{{i+1}}" [ngClass]="i === 0 ? 'is-active' : ''">
          <div class="medium-3 cell">
            <img [src]="feature.image[0].path" alt="{{ feature.name }}">
          </div>
          <div class="medium-9 cell">
            <div class="feature-text">
              <h4>
                {{feature.name}}
              </h4>
              <p>
                {{feature.longDescription}}
              </p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="grid-x grid-padding-x grid-padding-y medium-up-4 small-features">
    <ng-container *ngFor="let feature of features;let i = index;">
      <a class="cell small-feature" (click)="changeTab(i+1)" id="thumb{{i+1}}" [ngClass]="i === 0 ? 'is-active' : ''">
        <img [src]="feature.image[0].path" alt="{{feature.name}}">
      </a>
    </ng-container>
  </div>

</div> 
  
  
  
  