<!-- <div id="content-slider">
  <div class="wrap-slider">	
    <input type="radio" id="a-1" name="a">			
    <input type="radio" id="a-2" name="a">			
    <input type="radio" id="a-3" name="a">
    <input type="radio" id="a-4" name="a">

    <div class="medium-12 cell">
      <div class="grid-x grid-padding-x grid-padding-y  grid-margin-x grid-margin-y">
        <div class="medium-8 cell" id="left-image">
            <div class="slider">
              <div class="inset">
                <figure *ngFor="let image of images?.desktop">
                  <img src="{{image?.path}}" alt="{{image?.name}}">				
                </figure>
              </div>
            </div>					
          </div>
      
          <div class="medium-4 cell" id="right-image">
            <span class="th" tabindex="1" *ngFor="let image of images?.thumbnail">
              <img src="{{image?.path}}" alt="{{image?.name}}">				
            </span>
          </div>		
      </div>		
    </div> 
  </div>		
</div> -->
  
<!-- <div class="product-images">
  <div id="slider" class="swipe">
    <div class="swipe-wrap">
      <ng-container *ngFor="let image of images?.desktop; let i = index">
        <div class="slide text-center" id="slide-{{i+1}}">
          <div class="zoom-container" [attr.data-full]="image?.path"><img [src]="image?.path" alt="{{image?.name}}" /></div>
        </div>
      </ng-container>
    </div>
    <div class="thumbnails">
      <ng-container *ngFor="let image of images?.thumbnail; let i = index">
        <a href="#{{i+1}}"><img [src]="image?.path" alt="{{image?.name}}"></a>
      </ng-container>
    </div>
  </div>
</div> -->

<div class="grid-x grid-padding-x align-center align-middle">
  <div class="medium-8 cell">
    <!-- <div class="gallery">
      <div class="slide" *ngFor="let image of images?.desktop; let i = index">
        <img [src]="image?.path" alt="{{image?.name | capitalize}} image">
      </div>
    </div> -->
    <ngx-slick class="gallery" #slickModal="slick-modal" [config]="slideGallery">
      <div ngxSlickItem *ngFor="let image of images?.desktop; let i = index" class="slide">
            <img [src]="image?.path" alt="{{image?.name | capitalize}} image">
      </div>
    </ngx-slick>
  </div>
  
  <div class="medium-4 cell">
    <!-- <div class="thumbnails">
      <div class="slide" *ngFor="let image of images?.thumbnail; let i = index">
        <img [src]="image?.path" alt="{{image?.name | capitalize}} image">
      </div>
    </div> -->
    <ngx-slick class="thumbnails" #slickModal="slick-modal" [config]="slideThumbnails">
      <div ngxSlickItem *ngFor="let image of images?.thumbnail; let i = index" class="slide">
            <img [src]="image?.path" alt="{{image?.name | capitalize}} image">
      </div>
    </ngx-slick>
  </div>
</div>


