@import "../../../assets/scss/_settings.scss";

footer {
  background: #ececec;

  ul {
    list-style-type: none;
  }

  li {
    float: left;
    margin-right: 20px;
    font-weight: 700;

    a {
      color: #989898;
      font-size: 14px;
      padding-left: 0px;
    }
  }

  .footer-top {
    padding: 30px 0px;

    h5 {
      font-weight: bold;
      display: inline-block;

      &:after {
        content: '';
        width: 150px;
        height: 2px;
        background: red;
        position: relative;
        display: block;
        top: 5px;
      }
    }
  }

  .footer-middle {
    background: #2b2b2b;
    padding: 10px 0px;
    min-height: 45px;

    .social-logo {
      vertical-align: middle;
      display: table-cell;
    }
  }

  .footer-bottom {
    padding: 10px 0px;

    .copyright {
      font-size: 14px;
      color: #666;
      line-height: 40px;
    }

    .footer-nav {
      margin-left: 0px;
    }
  }

  .footer-middle .fa {
    color: #989898;
    font-size: 20px;
    padding: 0px 10px;
  }
}
