<footer>
  <div class="footer-top">
    <div class="medium-12 footer-nav cell">
      <div class="grid-container">
        <div class="grid-x">
          <div class="medium-6 cell">
            <h5 class="footer-header">{{ 'HITACHI' | translate }}</h5>
            <ul class="menu vertical">
              <li><a [routerLink]="['/', country, language, 'page', 'about']">{{ 'FOOTERABOUTUS' | translate }}</a></li>
              <li><a [routerLink]="['/', country, language, 'careers']">{{ 'FOOTERCAREERS' | translate }}</a></li>
              <li><a [routerLink]="['/', country, language, 'social-responsibility']">{{ 'FOOTERSOCIALRESPONSIBILITY' |
                  translate }}</a></li>
              <li><a [routerLink]="['/', country, language, 'business-with-us']">{{ 'FOOTERBUSINESSWITHUS' | translate
                  }}</a></li>
            </ul>
          </div>
          <div class="medium-6 cell">
            <h5 class="footer-header">{{ 'FOOTERHELP' | translate }}</h5>
            <ul class="menu vertical">
              <li><a [routerLink]="['/', country, language, 'faq']">{{ 'FOOTERFAQ' | translate }}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-middle">
    <div class="medium-12 cell">
      <div class="grid-container">
        <div class="grid-x">
          <div class="medium-12 cell">
            <div class="footer-logo">
              <ul class="social-logo">
                <li *ngFor="let socialLink of socialMediaArray">
                  <a href="{{ socialLink.url }}" title="{{ 'SOCIALMEDIAFOLLOW' | translate }}">
                    <i class="fa fa-{{ socialLink.typeIcon }} fa-2x"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom menu">
    <div class="medium-12 cell">
      <div class="grid-container">
        <div class="grid-x grid-x">
          <div class="medium-6 cell">
            <ul class="footer-nav">
              <li>
                <a [routerLink]="['/', country, language, 'impressum']">
                  {{ 'IMPRESSUM' | translate }}
                </a>
              </li>
              <li>
                <a [routerLink]="['/', country, language, 'terms-of-use']">
                  {{ 'TERMSOFUSE' | translate }}
                </a>
              </li>
              <li>
                <a [routerLink]="['/', country, language, 'privacy-policy']">
                  {{ 'Privacy Policy' | translate }}
                </a>
              </li>
            </ul>
          </div>
          <div class="medium-6 cell">
            <div class="menu align-right">
              <span class="copyright">{{ 'FOOTERCOPYRIGHT' | translate }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
