<div class="discover-tv">
  <div class="medium-12 cell">
    <div class="grid-container">
      <div class="discover-heading text-center">
        <h3><small>{{ 'PRODUCTSBYSIZEDISCOVER' | translate}}</small> {{ 'PRODUCTSBYSIZETHEIDEALTV' | translate }}</h3>  
        <p>{{ 'PRODUCTSBYSIZECHOOSEYOURIDEALTVSIZE' | translate }}</p>
      </div>
      <div class="medium-12 cell discover-sizes text-center">
        <ul class="tabs">
          <li class="tabs-title is-active"
          (click)="changeTab(1)" 
          id="inchtitle1">
            <a>
              <img src="assets/img/32-inch.png" alt="32&quot; TV Size image">
              <img class="hover" src="assets/img/32-inch-hover.png">
            </a>
            <p class="text-center">{{ 'EIGHTYONECM' | translate}} <strong>{{ 'THIRTYTWOINCH' | translate}}</strong></p>
          </li>
          <li class="tabs-title"
          (click)="changeTab(2)" 
          id="inchtitle2">
            <a> 
              <img src="assets/img/40-43-inch.png">
              <img class="hover" src="assets/img/40-43-inch-hover.png">
            </a>
            <p class="text-center">{{ 'HUNDREDTWOCM' | translate}} <strong>{{ 'FOURTY' | translate}}</strong> - {{ 'HUNDREDNINE' | translate}} <strong>{{ 'FOURTYTHREE' | translate}}</strong></p>
          </li>
          <li class="tabs-title"
          (click)="changeTab(3)" 
            id="inchtitle3">
            <a>
              <img src="assets/img/49-55-inch.png">
              <img class="hover" src="assets/img/49-55-inch-hover.png">
            </a>
            <p class="text-center">{{ 'HUNDREDTWENTYFOURCM' | translate}}  <strong>{{ 'FOURTYNINE' | translate}}</strong> - {{ 'HUNDREDFOURTY' | translate}} <strong>{{ 'FIFTYFIVE' | translate}}</strong></p>
          </li>
          <li class="tabs-title"
          (click)="changeTab(4)" 
          id="inchtitle4">
            <a>
              <img src="assets/img/65-inch.png">
              <img class="hover" src="assets/img/65-inch-hover.png">
            </a>
            <p class="text-center">{{ 'HUNDREDSIXTYFIVECM' | translate}} <strong> - {{ 'SIXTYFIVE' | translate}} </strong></p>
          </li>
        </ul>
        <div class="tabs-content inchtabs">
          <div class="tabs-panel is-active" id="inch1">
            <div class="grid-x">
              <div class="medium-12 cell discover-category">
                <div class="grid-x grid-padding-x grid-padding-y medium-up-3">
                  <ng-container *ngFor="let product of inches32;let i = index;">
                    <div class="cell image-hover text-center" *ngIf="i<3">
                      <div class="inner-inches" appMatchHeight="product-image">
                        <a [routerLink]="['/', country, language, 'product', product.id, product.link]" class="product-image">
                          <img src="{{ product.images.desktop[0].path }}" alt="{{ product?.name }}" class="image" >
                        </a>
                        <div class="centered-image">
                          <div class="text">{{ product?.code }}</div>
                        </div>
                        <p>{{ product?.name }}</p>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <div class="tabs-panel" id="inch2">
            <div class="grid-x">
              <div class="medium-12 cell discover-category">
                <div class="grid-x grid-padding-x grid-padding-y medium-up-3">
                  <ng-container *ngFor="let product of inches40;let i = index;">
                    <div class="cell image-hover text-center" *ngIf="i<3">
                      <div class="inner-inches" appMatchHeight="product-image">
                        <a [routerLink]="['/', country, language, 'product', product.id, product.link]" class="product-image">
                          <img src="{{ product.images.desktop[0].path }}" alt="{{ product?.name }}" class="image" >
                        </a>
                        <div class="centered-image">
                          <div class="text">{{ product?.code }}</div>
                        </div>
                        <p>{{ product?.name }}</p>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <div class="tabs-panel" id="inch3">
            <div class="grid-x">
              <div class="medium-12 cell discover-category">
                <div class="grid-x grid-padding-x grid-padding-y medium-up-3">
                  <ng-container *ngFor="let product of inches49;let i = index;">
                    <div class="cell image-hover text-center" *ngIf="i<3">
                      <div class="inner-inches" appMatchHeight="product-image">
                        <a [routerLink]="['/', country, language, 'product', product.id, product.link]" class="product-image">
                          <img src="{{ product.images.desktop[0].path }}" alt="{{ product?.name }}" class="image" >
                        </a>
                        <div class="centered-image">
                          <div class="text">{{ product?.code }}</div>
                        </div>
                        <p>{{ product?.name }}</p>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <div class="tabs-panel" id="inch4">
            <div class="grid-x">
              <div class="medium-12 cell discover-category">
                <div class="grid-x grid-padding-x grid-padding-y medium-up-3">
                  <ng-container *ngFor="let product of inches65;let i = index;">
                    <div class="cell image-hover text-center" *ngIf="i<3">
                      <div class="inner-inches" appMatchHeight="product-image">
                        <a [routerLink]="['/', country, language, 'product', product.id, product.link]" class="product-image">
                          <img src="{{ product.images.desktop[0].path }}" alt="{{ product?.name }}" class="image" >
                        </a>
                        <div class="centered-image">
                          <div class="text">{{ product?.code }}</div>
                        </div>
                        <p>{{ product?.name }}</p>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>