.highlighted-texts {
  li {
    display: inline-block;
    margin:10px;
    font-size: 16px;
    font-weight: 300;
    padding-left: 25px;
    background-image: url(/assets/img/bullet.png);
    background-repeat: no-repeat;
    background-position: left 3px;
    &:last-child {
      margin-bottom: 15px;
    }
  }
}