@import "../../../../assets/scss/_settings.scss";
@import "../language-bar/language-bar.component.scss";

.mobile-header {
  background: $white;
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
  .menu-button {
    color: $red;
    outline: none;
    margin-top: -6px;
    i {
      height: 22px;
      font-size: rem-calc(28);
      line-height: rem-calc(22);
    }
    span {
      display: block;
      font-size: rem-calc(12);
      margin-top: 5px;
      color: $black;
    }
  }
  .language {
    text-align: center;
    display: inline-block;
    span {
      &.lang-lg {
        margin: 0;
      }
      &.country {
        font-size: rem-calc(12);
        display: inline-block;
        text-align: right;
        color: $black;
        @include breakpoint(medium) {
          display: block;
        }
      }
    }
  }
}

.top-menu {
  display: none;
  &.is-open {
    display: flex;
  }
  li {
    text-align: center;
    align-items: center;
    a {
      font-size: rem-calc(12);
    }
    &:first-child {
      a {
        line-height: 36px;
      }
    }
  }
  .grey {
    background: $medium-gray;
  }
  .red {
    background: $red;
  }
  .grey a {
    color: $black;
    font-weight: 600;
  }
  .red a {
    color: $white;
    font-weight: 600;
  }
}

#mobile-menu {
  display: none;
  &.is-open {
    display: flex;
  }
  .menu {
    li {
      a {
        color: $black;
        &::after {
          border-color: $black transparent transparent;
        }
      }
    }
  }
}