<!-- <div class="title-bar-right" data-responsive-toggle="example-menu" data-hide-for="large">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title"></div>
</div>
      
<div class="top-menu" data-responsive-menu="accordion medium-dropdown">
    <app-language-bar></app-language-bar>
    <app-main-navigation></app-main-navigation>
    <ul class="menu top-menu">
        <li class="grey"><a [routerLink]="[country, language, 'search']"><i class="fa fa-search"></i>Search</a></li>
        <li class="grey"><a routerLink="/"><i class="fa fa-globe"></i>Global</a></li>
        <li class="red"><a routerLink="/">Hitachi Group <br>Products&Services</a></li>
        <li class="red"><a routerLink="/">Hitachi Group <br>Corporate Information</a></li>
    </ul>
</div> -->


<div class="grid-x mobile-header">
  <div class="medium-12 cell">
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="small-6 cell">
        <div class="title-bar-title">
          <a [routerLink]="['/', country, language]" title="{{ 'WEBSITETITLE' | translate }}" class="logo">
            <img src="assets/img/logo.png" alt="{{ 'WEBSITETITLE' | translate }}">
          </a>
        </div>
      </div>
      <div class="small-6 cell">
        <div class="grid-x grid-padding-x align-middle align-right">
          <div class="medium-2 small-4 cell text-center medium-text-right">
            <a id="languageSelector" class="language text-center" [routerLink]="['/', country, languageCode, 'languages']" *ngIf="countryName">
              <span class="lang-lg" lang="{{ countryCode }}"></span> 
              <!-- <span class="country">{{ countryName }}<br>({{ languageName }})</span> -->
              <span class="country">{{ languageName }}</span>
            </a>
          </div>
          <div class="medium-2 small-4 cell text-center">
            <button class="menu-button text-center" type="button" (click)="onMenuButton($event)">
              <i class="fa fa-bars"></i>
              <span>Menu</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="medium-12 cell">
    <div class="grid-x">
      <div class="medium-12 cell">
        <ul class="menu top-menu expanded" [class.is-open]="isOpened">
          <li class="grey"><a [routerLink]="['/', country, language, 'search']"><i class="fa fa-search"></i> {{ 'HEADERSEARCH' | translate }}</a></li>
          <!-- <li class="grey"><a routerLink="/"><i class="fa fa-globe"></i>Global</a></li> -->
          <li class="red"><a routerLink="/">{{ 'HEADERHITACHIGROUP' | translate }}<br>{{ 'HEADERPRODUCTSSERVICES' | translate }}</a></li>
          <li class="red"><a routerLink="/">{{ 'HEADERHITACHIGROUP' | translate }}<br>{{ 'HEADERCORPORATEINFORMATION' | translate }}</a></li>
        </ul>
      </div>
    </div>
    <div class="grid-x">
      <div class="medium-12 cell">
        <div class="top-bar" id="mobile-menu" [class.is-open]="isOpened">
          <div class="top-bar-left">
            <ul class="vertical medium-horizontal menu main-menu" data-responsive-menu="accordion medium-dropdown">
              <li><a [routerLink]="['/', country, language]">{{ 'MAINMENUHOME' | translate }}</a></li>
              <li>
                <a>{{ 'MAINMENUTVS' | translate }}</a>
                <ul class="menu vertical nested">
                  <li *ngFor="let category of categoriesArray?.categories">
                    <a [routerLink]="['/', country, language, 'category', category?.id , category?.link]">{{ category?.name }}</a>
                  </li>
                </ul>
              </li>
              <li><a [routerLink]="['/', country, language, 'support']">{{ 'MAINMENUSUPPORT' | translate }}</a></li>
              <li><a [routerLink]="['/', country, language, 'page', 'about']">{{ 'MAINMENUABOUT' | translate }}</a></li>
              <!-- <li><a [routerLink]="['/', country, language, 'allproducts']"><i class="fa fa-search"></i> {{ 'MAINMENUSEEALLPRODUCTS' | translate }}</a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


