.app-loading {
  .logo {
    width: 120px;
    height: 35px;

    // this way asset gets processed by webpack
    background-image: url(./assets/img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
