<app-slider></app-slider>

<div class="explore-series">
  <div class="medium-12 cell">
    <div class="grid-container">
      <div class="explore-heading text-center">
        <h3><small>{{ 'EXPLORESERIESSMALLTITLE' | translate }}</small> {{ 'EXPLORESERIESTITLE' | translate }}</h3>
        <p>{{ 'EXPLORESERIESDESCRIPTION' | translate }}</p>
        <a [routerLink]="['/', country, language, 'tvs']"><button type="button" class="button primary explore-btn">{{ 'EXPLORESERIESBUTTONTEXT' | translate }}</button></a>
      </div>
    </div>
  </div>
</div>

<app-featured-specs></app-featured-specs>
<app-products-by-size></app-products-by-size>
 

