@import "/../../assets/scss/_settings.scss";

h3 {
  small {
    font-size: 100%;
  }
}

.explore-series {
  padding:40px 0px;
  .explore-btn {
    background: $red;
    text-transform: uppercase;
    border-radius: 5px;
  }
}