<div class="spec">
  <div class="grid-x" id="subpages">
      <div class="medium-12 cell">
          <div class="grid-container">
              <div class="grid-x">
                <div class="medium-3 cell">
                  <h1>{{ 'SPECIFICATIONS' | translate }}</h1>
                </div>
              </div>
              <div class="grid-x grid-margin-x">
                  <div class="medium-3 cell">
                    <ul class="vertical tabs spec-tabs">
                      <li class="tabs-title is-active align-center-middle" data-tab="tab1"><span>{{ 'PICTUREQUALITY' | translate }}</span></li>
                      <li class="tabs-title align-center-middle" data-tab="tab2"><span>{{ 'SOUNDQUALITY' | translate }}</span></li>
                      <li class="tabs-title align-center-middle" data-tab="tab3"><span>{{ 'SMARTTV' | translate }}</span></li>
                    </ul>
                  </div>
                  <div class="medium-6 cell">
                      <div class="tabs-content">
                          <div class="tabs-panel is-active" id="tab1">
                              <div class="grid-x">
                                <div class="medium-12 cell text-center">
                                  <img class="thumbnail" src="assets/img/specifications-tv.png" alt="">
                                </div>
                              </div>
                              <div class="grid-x">
                                <div class="medium-12 cell">
                                  <span>{{ 'PICTUREQUALITY' | translate }}</span>
                                  <h3>{{ 'BREATHAKINGDETAIL' | translate }}</h3>
                                  <p>{{ '4KULTRAHD' | translate }}</p> 
                                  <button type="button" class="button primary spec-btn">{{ 'READMOREDETAIL' | translate }}</button>
                                </div>
                              </div>
                          </div>
                          <div class="tabs-panel" id="tab2">
                             <p>{{ 'TWO' | translate }}</p>
                          </div>
                          <div class="tabs-panel" id="tab3">
                           <p>{{ 'THREE' | translate }}</p>
                         </div>
                         <div class="tabs-panel" id="tab4">
                            <p>{{ 'FOUR' | translate }}</p>
                        </div>
                         <div class="tabs-panel" id="tab5">
                            <p>{{ 'FIVE' | translate }}</p>
                        </div>
                         <div class="tabs-panel" id="tab6">
                            <p>{{ 'SIX' | translate }}</p>
                        </div>
                      </div>                     
                  </div>
                  <div class="medium-3 cell right-tabs spec-tabs">
                    <ul class="vertical tabs active">
                      <li class="tabs-title align-center-middle" data-tab="tab4"><span>{{ 'DESIGN' | translate }}</span></li>
                      <li class="tabs-title align-center-middle" data-tab="tab5"><span>{{ 'SOUNDQUALITY' | translate }}</span></li>
                      <li class="tabs-title align-center-middle" data-tab="tab6"><span>{{ 'GUARANTEE' | translate }}</span></li>
                    </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

