<ul class="dropdown menu main-menu" data-dropdown-menu>
  <li><a [routerLink]="['/', country, language]" title="Hitachi {{ 'MAINMENUHOME' | translate }}">{{ 'MAINMENUHOME' | translate }}</a></li>
  <li>
    <!-- <a>{{ 'MAINMENUTVS' | translate }}</a> -->
    <a [routerLink]="['/', country, language, 'tvs']" title="{{ 'MAINMENUTVS' | translate }}" routerLinkActive="is-active" class="products">{{ 'MAINMENUTVS' | translate }}</a>
    <ul class="menu">
      <li *ngFor="let category of categoriesArray?.categories">
        <a [routerLink]="['/', country, language, 'category', category?.id , category?.link]" title="{{ category?.name }}">{{ category?.name }}</a>
      </li>
    </ul>
  </li>
  <li><a [routerLink]="['/', country, language, 'support']" title="{{ 'MAINMENUSUPPORT' | translate }}" routerLinkActive="is-active">{{ 'MAINMENUSUPPORT' | translate }}</a></li>
  <li><a [routerLink]="['/', country, language, 'page', 'about']" title="{{ 'MAINMENUABOUT' | translate }}" routerLinkActive="is-active">{{ 'MAINMENUABOUT' | translate }}</a></li>
  <!-- <li><a [routerLink]="['/', country, language, 'allproducts']"><i class="fa fa-search"></i> {{ 'MAINMENUSEEALLPRODUCTS' | translate }}</a></li> -->
</ul>

