@import "../../../../assets/scss/_settings.scss";

.main-menu {
  li {
    a {
      color: $black;
      font-size: rem-calc(14px);
      background: none;
      transition: all .2s ease-in-out;

      &::after {
        border-color: $black transparent transparent;
      }

      &:hover {
        background: $hitachi-red;
        color: $white;
        &::after {
          border-color: $white transparent transparent;
        }
      }

      &.is-active {
        background: $hitachi-red;
        color: $white;

        &:hover {
          background: darken($hitachi-red, 10%);
        }
        &::after {
          border-color: $white transparent transparent;
        }
      }
    }

    .submenu {
      li {
        a {
          &:hover {
            color: $black;
            background: $medium-light-gray;
          }
        }
      }
    }
  }

  // >li {
  //   &:first-child {
  //     a {
  //       padding-left: 0;
  //     }
  //   }
  // }
}

@media screen and (max-width: 768px) {
  .main-menu li {
    width: 100%;
    display: inline-block;
    background: $medium-light-gray;
    text-align: center;

  }

  .dropdown .is-dropdown-submenu {
    width: 100%;

    a {
      background: $medium-gray;
      border: none;
      line-height: 30px;
    }
  }
}